.dropdown-menu .scroll-stack-scroller {
  position: relative;
  width: 258px;
  max-height: 48px;
  overflow-y: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transform: translateZ(0);
  will-change: scroll-position;
}

.dropdown-menu .scroll-stack-inner {
    padding: 0px; 
}

.dropdown-menu .scroll-stack-card-wrapper {
    position: relative;
}

.dropdown-menu .scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  height: 48px;
  width: 180px;
  box-sizing: border-box;
  transform: translateZ(0);
  position: relative;
  background: transparent;
}

.dropdown-menu .scroll-stack-end {
    width: 100%;
    height: 8px;
}